<div class= "container">
    <div class= "row justify-content-center align-content-center">
        <div class="col-md-7 text-center">
            <div class="card shadow mb-5 p-4 bg-white border-0 index-card" >
                <%= form_with(model: @post, local:true, url:choose_new_or_edit) do |form| %>
                    <% if @post.errors.any? %>
                    <div id= "error_explanation">
                        <% @post.errors.full_messages.each do |msg|%>
                            <p class = "error"><%= msg %></p>
                        <%end%>
                    </div>
                    <%end%>
                    
                    <div class= "form-group">
                        <%= form.text_area :content, class: "form-control", placeholder: "Says something", rows: 10 %>
                    </div>
                
                    <div class= "post_image"> 
                        <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
                    </div>

                    <div class= "form-group mt-3">
                        <%= form.file_field :image %>
                        <%= form.hidden_field :image_cache %>
                    </div>

                    <%= form.submit "Post", class: "btn btn-primary font-weight-bold text-uppercase mt-3 pl-3 pr-3 pt-2 pb-2"%>
                <%end%>
            </div>   
        </div>
    </div>
</div>